/* src/link-button.css */
.link-button {
  background: none;
  border: none;
  color: #f1f4f7; /* A standard link blue color */
 
  cursor: pointer;
  padding: 0;
  font-size: inherit; /* Inherit font size from parent */
  font-family: inherit; /* Inherit font family from parent */
  text-align: left;
}


